---
let galleryVisible = false
const orange = "#FF5600"
const offWhite = "#FEF9EF"

const projects = await Astro.glob('../pages/projects/*.md')
const newestFirst = (a: any, b: any) => new Date(b.year).valueOf() - new Date(a.year).valueOf()
---
<div>
    <button id="gallery-toggle">
        {galleryVisible ?
            <svg width="28" height="36" viewBox="0 0 28 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="5.36963" y="0.5" width="22.1304" height="29.4348" fill={offWhite} stroke={orange}/>
                <rect x="2.93481" y="2.93481" width="22.1304" height="29.4348" fill={offWhite} stroke={orange}/>
                <rect x="0.5" y="5.36951" width="22.1304" height="29.4348" fill={offWhite} stroke={orange}/>
                <path d="M3.04346 6.69568L3.04348 32.2608H21.3043" stroke={orange} stroke-linecap="square" stroke-dasharray="2 2"/>
                <path d="M5.47827 5.47827V29.8261H22.5217" stroke={orange} stroke-linecap="square" stroke-dasharray="2 2"/>
            </svg> 
            : 
            <svg width="28" height="36" viewBox="0 0 28 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="5.36963" y="0.5" width="22.1304" height="29.4348" fill={orange} stroke={offWhite}/>
                <rect x="2.93481" y="2.93481" width="22.1304" height="29.4348" fill={orange} stroke={offWhite}/>
                <rect x="0.5" y="5.36951" width="22.1304" height="29.4348" fill={orange} stroke={offWhite}/>
                <path d="M3.04346 6.69568L3.04348 32.2608H21.3043" stroke={offWhite} stroke-linecap="square" stroke-dasharray="2 2"/>
                <path d="M5.47827 5.47827V29.8261H22.5217" stroke={offWhite} stroke-linecap="square" stroke-dasharray="2 2"/>
            </svg> 
        }
    </button>
</div>


<ul hidden={!galleryVisible}>
    {
        projects.sort(newestFirst).map((project) => {
            return (
                <li>
                    <a href={project.url}>
                        <h2>{project.frontmatter.title}</h2>
                        <p>{project.frontmatter.authors}</p>
                        <p>{project.frontmatter.year}</p>
                    </a>
                </li>
            )
        })
    }
    </ul>

<style>
    button
	{
		
	}
</style>

