---
import Base from './Base.astro'
import Gallery from '../components/ProjectGallery.astro'
import HomeLogo from '../components/HomeLogo.astro';
const { frontmatter } = Astro.props

let galleryVisible = false; 
const orange = "#FF5600"; 
const offWhite = "#FEF9EF"; 

---

<Base title={frontmatter.title}>
	<div class="projectGallery">
		<!-- <div> -->
			<!-- <HomeLogo/> -->
			<div class="exhibit"></div>
				<div class="wordmark"><HomeLogo/></div>
				
				<div>
					<button id="gallery-toggle">
						{galleryVisible ?
							<svg width="28" height="36" viewBox="0 0 28 36" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="5.36963" y="0.5" width="22.1304" height="29.4348" fill={offWhite} stroke={orange}/>
								<rect x="2.93481" y="2.93481" width="22.1304" height="29.4348" fill={offWhite} stroke={orange}/>
								<rect x="0.5" y="5.36951" width="22.1304" height="29.4348" fill={offWhite} stroke={orange}/>
								<path d="M3.04346 6.69568L3.04348 32.2608H21.3043" stroke={orange} stroke-linecap="square" stroke-dasharray="2 2"/>
								<path d="M5.47827 5.47827V29.8261H22.5217" stroke={orange} stroke-linecap="square" stroke-dasharray="2 2"/>
							</svg> 
							: 
							<svg width="28" height="36" viewBox="0 0 28 36" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="5.36963" y="0.5" width="22.1304" height="29.4348" fill={orange} stroke={offWhite}/>
								<rect x="2.93481" y="2.93481" width="22.1304" height="29.4348" fill={orange} stroke={offWhite}/>
								<rect x="0.5" y="5.36951" width="22.1304" height="29.4348" fill={orange} stroke={offWhite}/>
								<path d="M3.04346 6.69568L3.04348 32.2608H21.3043" stroke={offWhite} stroke-linecap="square" stroke-dasharray="2 2"/>
								<path d="M5.47827 5.47827V29.8261H22.5217" stroke={offWhite} stroke-linecap="square" stroke-dasharray="2 2"/>
							</svg> 
						}
					</button>
				</div>

				<slot/>

				<!-- <a class="darkButton" href={frontmatter.file}>
					See full project
				</a> -->
				<div class="info">
					<h2>{frontmatter.title}</h2>
					<p>{frontmatter.authors}</p>
					<p>{frontmatter.year}</p>
				</div>
			</div>
		<!-- </div> -->

		<nav id="main_nav">
			<ul>
				<li><a href="">This</a></li>
				<li><a href="">That</a></li>
				<li><a href="">The other</a></li>
			</ul>
			<p><a href="#body" id="access_top" class="access_aid">Skip to top</a></p>
		</nav>
		<!-- <Gallery class="scroller" visible={galleryVisible}/> -->
	</div>
</Base>

<style>
	.wordmark {
		position: relative;
		top: -120px; 
		left: -320px;

		font-weight: 100;
		font-size: 2rem;
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}

	.projectGallery {
		/* display: flex;
		flex-direction: row; */
		display: grid;
		grid-template-columns: 3fr 1fr;
	}

	.exhibit {
		/* position: relative; */
		/* flex-basis: 85%; */
		text-align: center;
		font-size: 1.6rem;
		color: var(--black);
		
		padding: 160px 120px;
		box-sizing: border-box;
		max-height: 100vh;

		overflow-y: scroll;
		overflow-x: hidden;
		scrollbar-width: none;
		scroll-behavior: smooth;
		
		/* background-color: var(--white); */
		background: linear-gradient(90deg, var(--white) 50%, var(--black) 50%);
		background-size: 200%;
		background-position: 0%;
		
		animation: about-intro 2s var(--ease) 1;
	}

	.exhibit::-webkit-scrollbar
	{
		width: 12px;
		background-color: transparent;
	}

	.exhibit::-webkit-scrollbar-thumb {
		background-color: var(--foreground);
		border-radius: 12px;
		box-shadow: inset 0 0 0 2px var(--background);
	}

	.exhibit::after{
		--width: 90px;

		content: "";
		display: block;
		width: var(--width);
		height: 100%;

		position: absolute;
		z-index: 99;
		top: 0;
		bottom: 0;
		right: calc((var(--width) * -0.5) + 25vw);

		background: linear-gradient(90deg, transparent, var(--orange), transparent);
		animation: about-beam-intro 2s var(--ease) 1;
	}

	.info > p {
		margin: 0;
		font-size: 1.2rem;
	}

	.info > h2 {
		margin: 100px 0 10px 0;
		font-size: 1.4rem;
	}

	.scroller {
		z-index: 1;
	}

	.darkButton {
		line-height: 1;
		margin: 1rem 0;
		padding: 1rem 2rem;

		text-decoration: none;
		color: inherit;
		display: block;
		background-size: 100%;
		transition: box-shadow 0.2s ease;

		background: #000000;
		box-shadow: inset 0px 0px 10px 12px #f9efdc;
		border-radius: 8px;
	}

	a.darkButton:hover {
		box-shadow: inset 0px 0px 10px 12px #000000 !important;
	}

	@keyframes about-intro
	{
		from { background-position: 100%; }
		to { background-position: 0%; }
	}

	@keyframes about-beam-intro
	{
		from { transform: translateX(-75vw); }
		to { transform: translateX(0vw); }
	}

	@media (max-width: 1050px)
	{

	}

	@media (max-width: 580px)
	{
		.wordmark {
			position: absolute;
			top: 0px; 
			left: 0px;
			padding: 20px 0 50px 20px; 

			font-weight: 100;
			font-size: 2rem;
			letter-spacing: 0.02em;
			text-transform: uppercase;

			background: linear-gradient(180deg, var(--white) 55%, transparent);	


		}

		.projectGallery {
			display: flex;
			flex-direction: column;
		}

		.exhibit {
			/* position: relative; */
			/* flex-basis: 85%; */
			text-align: center;
			font-size: 1.6rem;
			color: var(--black);
			
			padding: 160px 120px;
			box-sizing: border-box;
			max-height: 100vh;

			overflow-y: scroll;
			overflow-x: hidden;
			scrollbar-width: none;
			scroll-behavior: smooth;
			
			/* background-color: var(--white); */
			background: linear-gradient(90deg, var(--white) 50%, var(--black) 50%);
			background-size: 200%;
			background-position: 0%;
			
			animation: none;
		}

		.exhibit::after{
			--width: 90px;

			content: "";
			display: block;
			width: var(--width);
			height: 100%;

			position: absolute;
			z-index: 99;
			top: 0;
			bottom: 0;
			right: calc((var(--width) * -0.5));

			background: linear-gradient(90deg, transparent, var(--orange), transparent);
			animation: none;
		}
	}
</style>
