---
import Base from './Base.astro'
import Gallery from '../components/Gallery.astro'

const { frontmatter } = Astro.props
---

<Base title={frontmatter.title}>
	<div class="projectGallery">
		<div class="exhibit">
			<slot/>
			<!-- <a class="darkButton" href={frontmatter.file}>
				See full project
			</a> -->
            <div class="info">
                <h2>{frontmatter.title}</h2>
                <p>{frontmatter.authors}</p>
                <p>{frontmatter.year}</p>
            </div>
		</div>

		<Gallery class="scroller" />
	</div>
</Base>

<style>
	.projectGallery {
		display: flex;
		flex-direction: row;
	}

	.exhibit {
        flex-basis: 85%;
        text-align: center;
        font-size: 1.6rem;
        color: var(--black);
		
        padding: 160px 120px;
        box-sizing: border-box;
        max-height: 100vh;
        overflow-y: scroll;

        /* background-color: var(--white); */
        background: linear-gradient(90deg, var(--black) 50%, var(--white) 50%);
		background-size: 200%;
		background-position: 100%;
        
        animation: about-intro 2s var(--ease) 1;
        
	}

    .exhibit::after{
        background: linear-gradient(90deg, transparent, var(--orange), transparent);
		animation: about-beam-intro 2s var(--ease) 1;
    }

    .info > p {
        margin: 0;
    }

    .info > h2 {
        margin: 100px 0 10px 0;
        font-size: 1.8rem;
    }

	.scroller {
	}

	.darkButton {
		line-height: 1;
		margin: 1rem 0;
		padding: 1rem 2rem;

		text-decoration: none;
		color: inherit;
		display: block;
		background-size: 100%;
		transition: box-shadow 0.2s ease;

		background: #000000;
		box-shadow: inset 0px 0px 10px 12px #f9efdc;
		border-radius: 8px;
	}

	a.darkButton:hover {
		box-shadow: inset 0px 0px 10px 12px #000000 !important;
	}

    @keyframes about-intro
	{
		from { background-position: 100%; }
		to { background-position: 0%; }
	}

	@keyframes about-beam-intro
	{
		from { transform: translateX(25vw); }
		to { transform: translateX(0vw); }
	}

    @media (max-width: 1050px)
	{

	}

	@media (max-width: 580px)
	{
	
	}
</style>
