---
import Base from './Base.astro'
import ProjectScroller from '../components/ProjectScroller.astro'

const { frontmatter } = Astro.props
---

<Base title={frontmatter.title}>
	<div class="projectGallery">
		<div class="exhibit">
			<slot/>
			<a class="darkButton" href={frontmatter.file}>
				See full project
			</a>
			<h2>{frontmatter.title}</h2>
			<p>{frontmatter.authors}</p>
			<p>{frontmatter.year}</p>
		</div>

		<ProjectScroller class="scroller" />
	</div>
</Base>

<style>
	.projectGallery {
		display: flex;
		flex-direction: row;
	}

	.exhibit {
		background-color: #f9efdc;
		flex-basis: 70%;
	}

	.scroller {
	}

	.darkButton {
		line-height: 1;
		margin: 1rem 0;
		padding: 1rem 2rem;

		text-decoration: none;
		color: inherit;
		display: block;
		background-size: 100%;
		transition: box-shadow 0.2s ease;

		background: #000000;
		box-shadow: inset 0px 4px 10px 20px #f9efdc;
		border-radius: 38px;
	}

	a.darkButton:hover {
		box-shadow: inset 0px 0px 8px 15px #000000 !important;
	}
</style>
